header {
    background-color: black; /* cor que aparece se a pagina ainda estiver a ser carregada para dar a ideia do layout */
    background-image: url("../images/headphones.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58%;
}

.navbar {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

a.logo {
    text-decoration: none;
    font-size: 30px;
    color: #d9534f;
    font-weight: 400;
}

a.logo span {
    color: #b4e664;
}

.centered {
    font-size: 80px;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    /*position: relative;*/
    width: 100%;
    max-width: 400px;
}

.container .btn {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /*background-color: #ED3758;*/
    /*background-color: rgb(180, 230, 100);*/
    /*background-color: #d9534f;*/
    background-color: #d9534f;
    /*color: #4e5d6c;*/
    color: white;
    font-size: 65px;
    padding: 15px 60px; /* top and bottom paddings - right and left paddings */
    border: none;
    cursor: pointer;
    border-radius: 500px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.5s;
}

.container .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.container .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -8.5px;
    right: -20px;
    transition: 0.5s;
}

.container .btn:hover span {
    padding-right: 60px;
}

.container .btn:hover span:after {
    opacity: 1;
    right: 0;
}




 p {
     text-align: center;
}

#white-circle {
    /*border: 4px solid #00C957;*/
    border-radius: 100px;
    height: 120px;
    width: 120px;
    background-color: white;
}

.instruments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 42%;
    align-items: center; 
    padding: 90px;
}

