body{
    overflow: hidden;
}

.inlineForm {
    display:flex; 
    justify-content:space-between;
    margin-bottom:1em;
    align-items:center;
}

.square{
    height: 50px;
    width: 50px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(228,45,253,1) 100%);
    border-radius: 50%;
}

#bpmvalue::-webkit-outer-spin-button,
#bpmvalue::-webkit-inner-spin-button {
    display: none;
}

.container-fluid{
    overflow: hidden;
    width: 100%;
    padding: 2em;
}

#music-grid-container {
    overflow:scroll;
    max-height: 50%;
}

#music-grid {
    background: rgba(213, 222, 235, 0.8);
}

.cellOfMisery{
    cursor: pointer;
    text-align: center;
}

.table-container {
    background:rgba(114, 119, 126, 0.8);
    border-width: 3px;
    border-style: solid;
    border-color: rgba(114, 119, 126, 0.8);
    border-radius: 4px;
    background-clip: padding-box;
    display: inline-block;
    width:100%;
}

.playpause{
    display: inline-block;
}

.playpause input {
   display: none;
}

.playpause.pause {
    border-style: double;
    border-width: 0 0 0 20px;
    transition: 100ms all ease;
    height: 25px;
    cursor: pointer;
    border-color: transparent transparent transparent #f0ad4e;
}

.playpause.play {
    box-sizing: border-box;
    width: 0;
    height: 25px;
    border-color: transparent transparent transparent #5cb85c;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 12px 0 12px 20px;
    margin: 0;
}

.separator {
    height: 28px;
    width: 1.2px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0 0.5em 0 0.5em;
}

.controls{
    display: inline-flex;
    background:rgba(114, 119, 126, 0.8);
    background-clip:  padding-box;
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-color: rgba(114, 119, 126, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    padding: 0.5em;
}

.newInstrumentContainer{
    display: inline-flex;
    background:rgba(114, 119, 126, 0.8);
    background-clip:  padding-box;
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-color: rgba(114, 119, 126, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    padding: 0.5em;
}

#rowcontroller {
    margin-left: 1em;
    margin-right: 1em;
}

.scale-in-center{animation:scale-in-center.2s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.scale-out-center{animation:scale-out-center.2s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-out-center{100%{transform:scale(0);opacity:1}0%{transform:scale(1);opacity:1}}