<link rel="stylesheet" href="/style/home.css">

<header>

  <!-- OU https://www.w3schools.com/howto/howto_js_off-canvas.asp -->

  <nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
      aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <!--<a class="navbar-brand" href="#">Logo</a>-->

    <a class="logo" href="#"><img src="../images/logo.png" width="45px" height="45px" alt="LOGO"></a>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="tutorial">Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About Us</a>
        </li>
      </ul>
  </nav>
  </div>
  <div class="centered">Your own beats with<p>Music&amp;Go!</p>
  </div>
</header>

<div class="container">
  <a href="app" class="btn btn-default btn-lg active" role="button">Create</a>
</div>

<div class="instruments">
  <div>
    <button class="btn" id="white-circle"><img src="../images/drum.png" width="50"></button>
  </div>
  <div>
    <button class="btn" id="white-circle"><img src="../images/cymbals.png" width="50"></button>
  </div>
  <div>
    <button class="btn" id="white-circle"><img src="../images/maracas.png" width="50"></button>
  </div>
  <div>
    <button class="btn" id="white-circle"><img src="../images/violin.png" width="50"></button>
  </div>
  <div>
    <button class="btn" id="white-circle"><img src="../images/trumpet.png" width="50"></button>
  </div>
</div>