<div class="container-fluid">
    <div class="test-buttons">
        <button type="button" class="btn btn-primary" id="nyanbutton" >Click for Sound!</button>
        <button type="button" class="btn btn-danger" id="shutupbutton" >Shut up!</button>
    </div>
    <div class="text-center">
        <p>Como seria de esperar, as cores que eu escolhi estao horriveis, pls arranjem melhor, é so mudar no index.css, este site é mt fixe para estas cenas https://cssgradient.io/ </p>
        <table class="table table-bordered" style="width:1px">
            <tbody id="music-grid">
                <!-- Filled automatically with javascript in index.js -->
            </tbody>
        </table>
    </div>
</div>


<link rel="stylesheet" href="/style/index.css">
<script src="/js/index.js"></script>